@model Person
@{
    ViewData["Title"] = "Detail";
}

<h1>Memeber Details</h1>

<div><b>First Name: </b>@Model.firstname</div>
<div><b>Last Name: </b>@Model.lastname</div>
<div><b>Email: </b>@Model.email</div><br />

<a href="/Person/Index">Back</a>

