@model Employee
@{
    ViewData["Title"] = "AddForm";
}

<h1>Add Employee</h1>

<form method="post" action="/employee/addemployee">
   First Name: <input type="text" name="firstname" /><br />
   Last Name: <input type="text" name="lastname" /><br />
   Email: <input type="text" name="email" /><br />
   Department: <input type="text" name="department" /><br />
   <input type="submit" name="Save" />
</form>
