@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bender's Books</h1>
    <div><a href="/person/index">Members</a></div>
    <div><a href="/presentation/index">Presentations</a></div>
</div>
